/* Initialize css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, img {
    display: block;
}

html {
    height: 100%;
}

body {
    min-width:640px;
    min-height: 600px;
    margin: 0 auto;
}
h1{
    margin: 1rem 0 1.68rem 0;}
ol, ul {
    list-style: none;
}
.row{    margin-bottom: 0px;
}
hr {
    background: #000;
    width: 100%;
    height: 1px;
}

blockquote, q {
    quotes: none;
}

label {
    font-size: 24px;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, select, option {
    resize: none;
    outline: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.enFont {
    font-family: cursive;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-moz-placeholder, input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea::-moz-placeholder, input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

nav {
    text-align: center;
}

footer {
    width: 100%;
    min-height: 100px;
    position: absolute;
    float: right;
    background: #333333;
    bottom: 0;
}

textarea.form-control {
    font-size: 20px;
}

.flc {
    clear: both;
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.hidden {
    display: none;
}

i:hover {
    opacity: 0.7;
    cursor: pointer;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.modal-content {
    text-align: center
}

iframe {
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.footerIcons {
    float: left;
    /* display: inline-block; */
}

.footerIcons a:hover {
    opacity: 1;
}

.footerIcons a {
    border-radius: 100px;
    opacity: 0.8;
    /* background: #fff; */
    /* font-size: 18px; */
    /* position: relative; */
    display: inline-block;
    width: 2em;
    /* height: 2em; */
    /* line-height: 2em; */
    /* vertical-align: middle; */
    margin: 5px;
    transition: all .3s ease-out 0;
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .3s ease-out 0;
}

.fa-2x {
    font-size: 1.2em;
    margin-right: 9px;
    margin-top: 7px;
}

footer span {
    color: #fff;
    float: right;
    margin-top: 44px;
    margin-right: 10%;
}
.update{
    display:none;
}
#registerForm{display:none;}
  button:focus{
    background-color: #5298da;
  }
  
  #registerBT , #signInBT{
    color:#5298da;
    font-weight: bold;
  }
  .signin-btn {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    width: 45%;
    padding: 8px;
    margin: 1%;
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    cursor: pointer;
  }
  .signin-btn:hover{
      
    background-color: #5298da;
  }
  .signin-btn:before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url('../images/social.png') no-repeat 0 0;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 24px;
  }
  
  .google:before {
    background-position: 0 0;
  }
  
  .facebook:before {
    background-position: -18px 0;
  }
  
  .twitter:before {
    background-position: -36px 0;
  }
  
/*LOADER*/
.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #333;
    opacity: 1;
    left: 0;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    right: 0;
    margin: 0 a;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  

/**************************************************************	NAV	*******************************************************/
nav i{
    height:auto;
}
.color-6 {
    top: 0;
    box-shadow: 1px 3px 14px #888888;
    width: 100%;
    z-index: 1;
}

.color-6 > a {
    float: right;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.color-6 > a:hover {
    opacity: 0.5;
}

.logo {
    width: 36px;
    border-radius: 100px;
    float:right;
}

.cl-effect-18 {
    background: #fff;
    position: relative;
    z-index: 1;
    /* padding: 10px 0px; */
    margin-right: 0%;
    background: #333333;
    width: 100%;
}

.cl-effect-18 > a:first-child {
    float: right;
    position: absolute;
    top: 0;
    margin: 8px;
    right: 0;
}

.cl-effect-18 > a:first-child:hover {
    background: none;
}

.cl-effect-18 > a:hover {
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin-top: 10px;
}

.cl-effect-18 > a {
    font-size: 23px;
}

.navbar {
    display: none;
}

.fab ,.fas{
    margin: 10px auto;
    display: block;
    border: 100px;
    /* background: transparent; */
    width: 22px;
    text-align: center;
}
.btn, .btn-large, .btn-small,.btn:hover, .btn-large:hover, .btn-small:hover{

    background-color: #5298da;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label , .input-field .prefix.active{color:#5298da}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #5298da;
    -webkit-box-shadow: 0 1px 0 0 #5298da;
    box-shadow: 0 1px 0 0 #5298da;
}

.input-field .prefix ~ input{margin-left:0px;    width: 100%;}
.input-field .prefix{

    left: -30px;
}
.input-field .prefix ~ label{margin-left:0px;}
.wrapper{display:none;}
#my-signin2{margin: 0 auto;/* margin-top: 100px; */width: 640px;display:none;}
#error , #error_register{
    color:red; font-weight: bold; text-align: left;    height: 20px;
}
.errorWrapper{
    height:20px;
}
#logout{
    float:right;
    background:transparent !important;
    margin-right: 10px;
    margin-top: 12px;
}
.select-wrapper{width:100%;}
.select-wrapper+label{    position: absolute;
    top: -12px;}
/**************************************************************	INDEX	*******************************************************/


/**************************************************************	MEDIA - MAX 1024	*******************************************************/
/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 1024px) {
 
}
